<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
  <style>
    .red { color: red; }
    .text { white-space: pre-line; }
    .fav { font-weight: bold; }
    .fav-true { font-weight: bold; }
  </style>
</head>
<body>
  <div ng-app="twitterApp">
    <h1>Dumb Twitter*</h1>
    <h6>* protected by parody law</h6>

    <div ng-controller="tweetForm">
      <textarea cols="30" rows="10" ng-model="tweet.text"></textarea>
      <div ng-class="{ red: invalidTweet() }">{{ charactersLeft() }}</div>
      <button ng-disabled="invalidTweet()" ng-click="addTweet(tweet)">Tweet</button>

      <input type="text" ng-model="query">

      <div>
        <div ng-show="tweets.length === 0">No tweets yet!!!</div>
        <ul>
          <li ng-repeat="(key, val) in tweetsToDisplay(query)" class="fav-{{val.fav}}">
            <span class="text"> {{val.text}} </span>
            --
            <button ng-click="deleteTweet(key)">X</button>
            <button ng-click="favoriteTweet(key)">F</button>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <script src="app.js"></script>
</body>
</html>
