<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
  <style>
    .red { color: red; }
    .text { white-space: pre-line; }
    .fav { font-weight: bold; }
  </style>
</head>
<body>
  <div ng-app="twitterApp">
    <div ng-controller="tweetForm">
      <textarea cols="30" rows="10" ng-model="tweet.text"></textarea>
      <div ng-class="{ red: invalidTweet() }">{{ charactersLeft() }}</div>
      <button ng-disabled="invalidTweet()" ng-click="addTweet()">Tweet</button>

      <div>
        <div ng-show="tweets.length === 0">No tweets yet!!!</div>
        <ul>
          <li ng-repeat="x in tweets track by $index">
            <span class="text"> {{x.text}} </span>
            --
            <span ng-click="deleteTweet($index)">X</span>
            <span ng-click="favoriteTweet($index)">F</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>
